<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Moje stránka{% endblock %}</title>

    {% load static %}
    <link href="https://fonts.cdnfonts.com/css/tf2" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'menu/style.css' %}">
</head>


<body>
<a href="https://www.toplist.cz" id="toplistcz1839051" title="TOPlist"><noscript><img src="https://toplist.cz/dot.asp?id=1839051&njs=1" border="0"
alt="TOPlist" width="1" height="1"/></noscript><script language="JavaScript">
(function(d,e,s) {d.getElementById('toplistcz1839051').innerHTML='<img src="https://toplist.cz/dot.asp?id=1839051&http='+
e(d.referrer)+'&t='+e(d.title)+'&l='+e(d.URL)+'&wi='+e(s.width)+'&he='+e(s.height)+'&cd='+
e(s.colorDepth)+'" width="1" height="1" border="0" alt="TOPlist" />';
}(document,encodeURIComponent,window.screen))
</script></a>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Domů</a></li>
            <li><a href="{% url 'ukol1' %}">DU 1</a></li>
            <li><a href="{% url 'ukol2' %}">DU 2</a></li>
            <li><a href="{% url 'ukol3' %}">DU 3</a></li>
            <li><a href="{% url 'ukol4' %}">DU 4</a></li>
            <li><a href="{% url 'ukol5' %}">DU 5</a></li>
            <li><a href="{% url 'vysledky' %}">Výsledky</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>
