{% extends 'menu/base.html' %}

{% block title %}Úkol 1{% endblock %}

{% block content %}
  <h1>Úkoly pro Django</h1>

    <h2>1. Odoslanie GET parametra cez URL</h2>
    <p>Vytvorte jednoduchý odkaz, ktorý odosiela GET parameter do funkcie (view) bez použitia dynamických URL ciest. Vo view získajte tento parameter a zobrazte ho na stránke.</p>

    <h2>2. Formulár na výber kategórie</h2>
    <p>Vytvorte formulár, kde si používateľ môže vybrať kategóriu zo zoznamu (napr. filmy, knihy, hry). Po odoslaní zobrazte vybranú kategóriu na stránke.</p>

    <h2>3. Odoslanie spätnej väzby</h2>
    <p>Vytvorte formulár na odoslanie spätnej väzby s poliami na meno a správu. Po odoslaní formulára zobrazte prijaté údaje v konzole a zobrazte správu o úspešnom odoslaní na stránke.</p>

    <h2>4. Statická stránka pomocou TemplateView</h2>
    <p>Použite TemplateView na zobrazenie jednoduchej statickej stránky so základným textom.</p>

    <h2>5. Spracovanie formulára cez POST v Class-based View</h2>
    <p>Vytvorte class-based view (View), ktoré zobrazí formulár na kontaktovanie a spracuje odoslané údaje cez POST. Po odoslaní vypíšte údaje do konzoly a zobrazte potvrdenie na stránke.</p>

{% endblock %}
